
a,a:hover {
	color: #d43076;
}

.intro .page-scroll a:hover {
    color: #7a1d1e;
}

.icon:hover .fa {
    color: rgb(25, 146, 117);
}

ul.nav li a:hover {
	color: #d43076;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    background-color: rgb(91, 117, 70);
}

.bg-skin {
	background: #d43076;
}

form#contact-form input:focus,form#contact-form select:focus,form#contact-form textarea:focus {
	border-color: #d43076;
}

footer {
    background-color: #7d7d7d;
    background: url(../img/bg1.jpg) no-repeat fixed;
    background-size: cover;
}

.btn-skin {
    color: #fff;
    background-color: rgba(16, 16, 16, 0.53);
    border-color: rgba(212, 48, 118, 0);
}
