        <!-- Section: about -->
<section id="about" class="home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <div class="section-heading text-center">
                    <div class="wow bounceInDown" data-wow-delay="0.2s">
                        <h2>О НАС</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img style="-webkit-filter: drop-shadow(2px 2px 5px #333); filter: drop-shadow(2px 2px 5px #333);" src="~/img/slider1_1 (2).jpg" class="img-responsive img-rounded" alt="" />
                </div>
            </div>
            <div class="col-md-6">
                <p style="color:#333">
                    База отдыха «Вигридр» - уникальное место, где можно отдохнуть как в семейном кругу, так и большой компанией. 
                    Место найдется всем! Комфортабельные номера включают все самое необходимое для незабываемого времяпрепровождения: новая мебель, сантехника и техника, 
                    так же на всей территории базы отдыха зона бесплатного <span style="white-space:nowrap">wi-fi!</span> <br />
                    Прогулки на катере, рыбалка, баня, водных лыж, прокат гидроциклов, катание на аттракционе «Банан» и «Таблетка», отличный пляж - 
                    замечательные способы активного отдыха, доступные на территории базы отдыха «Вигридр».<br />
                </p>
            </div>
        </div>
    </div>
</section>
<!-- /Section: about -->
<!-- Section: separator -->
<section id="separator" class="home-section parallax text-center" data-stellar-background-ratio="0.5" style="background-size: cover;">

    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center txt-shadow">
                    <div class="icon">
                        <i class="fa fa-bicycle fa-5x"></i>
                    </div>
                    <span class="color-white">Велопрокат</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center txt-shadow">
                    <div class="icon">
                        <i class="fa fa-thermometer-full  fa-5x"></i>
                    </div>
                    <span class="color-white">Баня</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center txt-shadow">
                    <div class="icon">
                        <i class="fa fa-ship fa-5x"></i>
                    </div>
                    <span class="color-white">Прогулки на катере</span>
                </div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-3">
                <div class="align-center txt-shadow">
                    <div class="icon">
                        <i class="fa fa-wifi fa-5x"></i>
                    </div>
                    <span class="color-white">Бесплатный Wi-Fi</span>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: separator -->
<!-- Section: gallery -->
<section id="gallery" class="home-section text-center bg-gray">

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <div class="wow bounceInDown" data-wow-delay="0.4s">
                    <div class="section-heading">
                        <h2>Фотогалерея</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-12">
                <div class="wow bounceInUp" data-wow-delay="0.2s">
                    <div id="owl-works" class="owl-carousel">
                        <div class="item"><a href="~/img/gallery/1-min.jpg" title="Срубовый коттедж" data-lightbox-gallery="gallery1"><img src="~/img/gallery/1-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Срубовый коттедж "Семейный"</div></div>
                        <div class="item"><a href="~/img/gallery/2-min.jpg" title="Территория турбазы" data-lightbox-gallery="gallery1"><img src="~/img/gallery/2-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Территория турбазы</div></div>
                        <div class="item"><a href="~/img/gallery/3-min.jpg" title="Развлечение на воде" data-lightbox-gallery="gallery1"><img src="~/img/gallery/3-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Развлечение на воде -  водные скутера, гидроциклы, таблетка и множество других развлечений</div></div>
                        <div class="item"><a href="~/img/gallery/4-min.jpg" title="Кафе" data-lightbox-gallery="gallery1"><img src="~/img/gallery/4-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Кафе, есть караоке, аппаратура, телевизор, иллюминация, а также вкусные, недорогие блюда!</div></div>
                        <div class="item"><a href="~/img/gallery/5-min.jpg" title="Рыбалка" data-lightbox-gallery="gallery1"><img src="~/img/gallery/5-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Рыбалка</div></div>
                        <div class="item"><a href="~/img/gallery/6-min.jpg" title="Беседка" data-lightbox-gallery="gallery1"><img src="~/img/gallery/6-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Беседка</div></div>
                        <div class="item"><a href="~/img/gallery/7-min.jpg" title="Баня" data-lightbox-gallery="gallery1"><img src="~/img/gallery/7-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Баня</div></div>
                        <div class="item"><a href="~/img/gallery/8-min.jpg" title="Территория турбазы" data-lightbox-gallery="gallery1"><img src="~/img/gallery/8-min.jpg" class="img-responsive " alt="img"></a><div class="caption">Территория турбазы</div></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /Section: services -->
<!-- Section: contact -->
<section id="contact" class="home-section text-center">
    <div class="heading-contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-offset-2">
                    <div class="section-heading">
                        <div class="wow bounceInDown" data-wow-delay="0.2s">
                            <h2 style="font-size:30px" class="visible-xs">Позвоните по тел. <span style="white-space:nowrap">+38(067) 123-126-3</span> </h2>
                            <h2 class="hidden-xs">Позвоните по тел. <span style="white-space:nowrap">+38(067) 123-126-3</span> </h2>
                        </div>
                        <p class="wow lightSpeedIn animated" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">или<br />заполните форму и мы с Вами свяжемся</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="container">

        <div class="row">
            <div class="col-lg-8 col-md-offset-2">
                <div class="form-wrapper marginbot-50">
                    <div id="sendmessage">Ваше сообщение отправлено. Спасибо!</div>
                    <div id="errormessage"></div>
                    <form id="contact-form" action="" method="post" role="form" class="contactForm">
                        <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Ваше имя" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Ваша почта" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" name="subject" id="subject" placeholder="Ваш номер телефона" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                            <div class="validation"></div>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Сообщение"></textarea>
                            <div class="validation"></div>
                        </div>

                        <div class="text-center"><button type="submit" class="btn btn-skin btn-block" id="btnContactUs">Отправить</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>